.container
  position relative
  +desktop()
    margin 0 auto
    width $desktop - 40px
    // Modifiers
    &.is-fluid
      margin 0 20px
      max-width none
      width auto
  +widescreen()
    width $widescreen - 40px
  +fullhd()
    width $fullhd - 40px
