.map {
  width 100%
  overflow hidden
  height 400px

  .map__location {
    text-align center
    font-weight 600
    margin-bottom $space
  }

  hr {
    margin-left auto
    margin-right auto
    width 80%
  }
}
