.section {
  width 100%
  min-height 100vh
  display flex
  align-items center
  justify-content center
  flex-direction column
  font-family 'Arimo', sans-serif

  hr {
    background-color #332211
  }

  iframe {
    width 100%
    height 400px

    @media (min-width $tablet + 1px) {
      pointer-events none
    }
  }

  p {
    font-size 1.2rem
    margin $space-xs 0
  }

  a {
    color #229955

    &:hover {
      color darken(#229955, 50%)
      text-decoration underline
    }
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    background-color #332211
    color #ddccbb

    blockquote {
      color #4a4a4a
    }
  }
}
